.moreButton {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  color: gray;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moreButton:hover {
  background-color: #eee;
}

.stickyNavbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  border-bottom: solid 1px #eee;
}

#stickyNavbar {
  display: flex;
  gap: 10px;
  background-color: white;
  padding: 20px;
  padding-bottom: 20px;
}

#formWrapper form {
  min-width: 295px;
  max-width: 500px;
}

.userZoneImage {
  /*  width: 40px;
  height: 30px;
  cursor: "pointer"; */
}

/*For test only, to remove*/
.redBorder {
  border: solid red 2px;
  background-color: yellow;
  padding: 5px;
}

#heroSection {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

#heroSection * {
  color: #fff;
}

#heroSectionWrapper {
  background-image: url("/images/fnpss1.jpg");
  background-position: center;
  border-radius: 10px;
}
